/*for the 100vw 100vh centered fullscreen */ 
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*my GO-TO web containers to be used in combo with bootstrap container-fluids */
.cont-sec {
    min-width: 500px;
    width: 100vw;
}